@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-color: #1c232e;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}

header {
  width: 100%;
  height: 100rem;

  display: flex;
  flex-direction: row;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
}

.header-photo {
  width: 30%;
  max-width: 440px;
  height: 60rem;
  background-image: url('./assets/my_photo.jpg');
  background-size: cover;
  border-radius: 2rem;
}

.header-texts {
  width: 30%;
  max-width: 440px;
  height: 60rem;

  display: flex;
  flex-direction: column;
  row-gap: 20px;

  justify-content: center;
  align-items: flex-start;
}

.name {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  color: #fff;
  & span {
    font-size: 75px;
    background-image: linear-gradient(
      to right, #7be728, #f3265f, #7f40ac, #7be728
    );
    background-size: 200% auto;
    animation: gradientAnimation 5s linear infinite;

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

.description {
  color: #fff;
  border-left: 5px #1e3f66 solid;
  padding-left: 15px;
}

.header-texts > button {
  width: 150px;
  height: 50px;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  font-style: normal;
  color: #1e3f66;

  border: 3px solid #1e3f66;
  border-radius: 10px;

  cursor: pointer;

  background-color: rgba(0, 0, 0, 0);
  transition: all 0.5s ease;
}

.header-texts > button:hover {
  background-color: #73a5c6;
  border: 3px solid #73a5c6;

  transition: all 0.5s ease;
}

@keyframes gradientAnimation {
  to{
    background-position: 200% center;
  }
}

.wrapper {
  width: 60%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  margin-top: 2rem;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.item {
  width: 200px;
  height: 100px;
  border-radius: 6px;
  position: absolute;
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  display: flex;
  justify-content: center;
  align-items: center;
}

.item-1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item-2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item-3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item-4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item-5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item-6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item-7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item-9 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

.nav-bar {
  width: 80%;
  height: 100px;
  background-color: #bcd2e8;
  margin-inline: auto;
  margin-top: 5rem;
  position: sticky;
  border-radius: 60px;
  top: 5rem;
  z-index: 99;

  padding-left: 40px;
  padding-right: 40px;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  transition: all 1s ease;
}

.hide-nav-bar {
  transform: translateY(-200%);
  transition: all 0.5s ease;
}

.title {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
  color: #1e3f66;
}

a:active, a:visited {
  color: #1e3f66;
}

a:hover {
  color: #73a5c6;
  font-size: 70px;

  transition: all 0.5s ease;
}
a {
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.nav-bar-logos {
  display: flex;
  flex-direction: row;
  column-gap: 50px;

  justify-content: center;
  align-items: center;
}

.widget {
  width: 80vw;
  max-width: 1000px;
  height: auto;
  background-color: white;
  margin-inline: auto;
  margin: 2rem auto;
  border-radius: 10px;
  padding: 10px;
}

.widget-tabs {
  --tab-count: 3;
  --active: 0;

  position: relative;
  isolation: isolate;
  display: flex;
  height: 7rem;
  border-block-end: 1px solid #e9ebec;
}

.widget-tabs input {
  display: none;
}

.widget-tabs label {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  color: #656d7b;
}

.widget-tabs input:checked + label {
  color: #101010;
}

.widget-tabs::after {
  pointer-events: none;
  z-index: -1;
  position: absolute;
  content: "";
  inset: 0 0 -1px;
  width: calc((100% / var(--tab-count)) - 2px);
  border-radius: 0.5rem 0.5rem 0 0;
  border: 1px solid #e9ebec;
  border-block-end: none;
  background-image: linear-gradient(#edf4ff, #fff);

  translate: calc(var(--active) * 100%);
  transition: translate 0.5s ease-in-out;
}

.widget-tabs:has(:checked:nth-of-type(1)) {
  --active: 0;
}

.widget-tabs:has(:checked:nth-of-type(2)) {
  --active: 1;
}


.widget-tabs:has(:checked:nth-of-type(3)) {
  --active: 2;
}

.widget-tabs-content {
  padding: 1rem;
  height: 500px;
}

[class ^="widget-tabs-content-"] {
  display: none;
}

.widget:has(:checked:nth-of-type(1)) .widget-tabs-content-1,
.widget:has(:checked:nth-of-type(2)) .widget-tabs-content-2,
.widget:has(:checked:nth-of-type(3)) .widget-tabs-content-3 {
  display: block;
}

.characteristics {
  display: flex;
  flex-direction: column;
  margin: 5rem;
  padding: 5rem;

  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 55px;
  color: #bcd2e8;
}

.auto-blur {
  animation: autoBlurAnimation both;
  animation-timeline: view();
}

@keyframes autoBlurAnimation {
  0% {
    filter: blur(40px);
  }
  45% {
    filter: blur(0);
  }
  60% {
    filter: blur(40p);
  }
  100% {
    filter: blur(40px);
  }
}